{% extends "base.html" %}
{% block content %}
<b>Note: This is in a very early stages, things might change a lot.</b>
<style>
    .constructive {
        color: #14866d;
    }
    .destructive {
        color: #b32424;
    }
    .table {
        table-layout: fixed;
    }
    tbody {
        color: #202122;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
        font-size: calc(1em * 0.875);
        line-height: 1.6;
    }
</style>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Uploader</th>
        <th scope="col" style="max-width: 12%;">Source</th>
        <th scope="col" style="max-width: 12%;">License</th>
        <th scope="col">Checks</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for i in images %}
        <tr>
            <td>
                <a href="https://commons.wikimedia.org/wiki/File:{{i.title}}" target="_blank"><img src="{{i.thumb_url}}" /></a>
            </td>
            <td>
                <a href="https://commons.wikimedia.org/wiki/User:{{i.user.user_name}}" target="_blank">User:{{i.user.user_name}}</a> ({{i.user.formatted_edit_count}} edits, age {{i.user.age}} days)<hr><a href="https://meta.wikimedia.org/wiki/Special:CentralAuth/{{i.user.user_name}}">Globally</a>: {{i.user.formatted_global_edit_count}} edits ({% if i.user.blocked_in_wikis %}Blocked in: {{i.user.blocked_in_wikis}}{% else %}Not blocked anywhere{% endif %}{% if i.user.globally_locked %}, globally locked{% endif %})<hr>
                [<a href="https://commons.wikimedia.org/wiki/User_talk:{{i.user.user_name}}" target="_blank">talk</a> . <a href="https://commons.wikimedia.org/w/index.php?title=Special:ListFiles/{{i.user.user_name}}&ilshowall=1" target="_blank">uploads</a> . <a href="https://commons.wikimedia.org/wiki/Special:Contributions/{{i.user.user_name}}" target="_blank">contributions</a>]
            </td>
            <td>
                {{i.source}}
            </td>
            <td>
                {{i.license}}
            </td>
            <td>
                <a href="https://tineye.com/search?url={{i.thumb_url | urlencode}}&sort=size&order=desc" target="_blank">Tineye</a> . <a href="https://lens.google.com/uploadbyurl?url={{i.thumb_url|urlencode}}" target="_blank">Google Lens</a> . <a href="https://www.bing.com/images/search?view=detailv2&iss=sbi&FORM=IRSBIQ&q=imgurl:{{i.thumb_url|urlencode}}" target="_blank">Bing</a> . <a href="https://yandex.com/images/search?rpt=imageview&url={{i.thumb_url|urlencode}}" target="_blank">Yandex</a>
            </td>
            <td>
                <a href="https://commons.wikimedia.org/wiki/File:{{i.title}}?action=markpatrolled&rcid={{i.rcid}}" target="_blank"><button type="button" class="btn btn-outline-success">Mark as patrolled</button> </a><a href="https://commons.wikimedia.org/wiki/File:{{i.title}}?action=delete" target="_blank"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                <br>
                <a class="destructive" href="https://commons.wikimedia.org/wiki/File:{{i.title}}?action=edit" target="_blank">Mark for speedy deletion</a> . <a class="destructive" href="https://commons.wikimedia.org/wiki/File:{{i.title}}?action=edit" target="_blank"> Mark for deletion request</a> <!--. <a href="/mark-skipped/{{i.title}}/token">Skip it for me</a> -->
                <br>
                <a class="destructive" href="https://commons.wikimedia.org/wiki/Special:Block/{{i.user.user_name}}" target="_blank">Block uploader</a> . <a class="constructive" href="https://commons.wikimedia.org/wiki/Special:UserRights/{{i.user.user_name}}" target="_blank">Change uploader's rights</a>
            </td>
        </tr>
       {% endfor %}
    </tbody>
  </table>
{% if next_value %}<a href="/queue/commons?from={{next_value}}"><button type="button" class="btn btn-primary">⇨ Next</button></a>{% endif %}
{% endblock %}